<h1 style="text-align: center; background-color:#84192E; color: cornsilk;padding: 3%; font-size: 26px;display: block;">BLOG APPLICATION</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/home']" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about']">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/create']">Post a Blog</a>
            </li>
          </ul> 
        </div>
      </nav>
    </div>
  </div>
</div>
<router-outlet></router-outlet>